name: {{ project_name }}
description: DWE LiteLLM Proxy for {{ project_name }}
runtime:
  name: python
  options:
    virtualenv: venv
config:
  pulumi:tags:
    value:
      pulumi:template: dwe-litellm
